<div class="container my-5">
    <h1 class="text-center">Авторизация</h1>
    <div class="col-sm-5 mx-auto my-3">
        <form onsubmit="sendForm(this); return false;" action="/login" method="post">
            <div class="mb-3">
                <input name="email" type="text" class="form-control" placeholder="Логин">
            </div>
            <div class="mb-3">
                <input name="pass" type="password" class="form-control" placeholder="Пароль">
                <p class="text-danger" id="info"></p>
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control btn btn-primary" value="Войти">
            </div>
        </form>
    </div>
</div>
<script>
    let info = document.getElementById('info');
    function sendForm(form){
        let formData = new FormData(form);
        fetch('/login', {
            method: "post",
            body: formData
        }).then(function (response){return response.json()})
            .then(function (result){
                if(result.result === "error"){
                    info.innerText = "Неправильный логин или пароль";
                }else{
                    location.href = '/profile';
                }
            });
    }
</script>