<div class="container my-5">
  <h1 class="text-center">Регистрация на сайте</h1>
  <div class="col-sm-5 mx-auto my-3">
    <form onsubmit="sendForm(this); return false;" action="/reg" method="post">
      <div class="mb-3">
        <input name="name" type="text" class="form-control" placeholder="Имя">
      </div>
      <div class="mb-3">
        <input name="lastname" type="text" class="form-control" placeholder="Фамилия">
      </div>
      <div class="mb-3">
        <input name="email" type="email" class="form-control" placeholder="E-mail">
        <p class="text-danger" id="info"></p>
      </div>
      <div class="mb-3">
        <input name="pass" type="password" class="form-control" placeholder="Пароль">
      </div>
      <div class="mb-3">
        <input type="submit" class="form-control btn btn-primary" value="Зарегистрироваться">
      </div>
    </form>
  </div>
</div>
<script>
  let info = document.getElementById('info');
  function sendForm(form){
    console.log("Запущена функция sendForm");
    let formData = new FormData(form);
    fetch('/reg', {
      method: "POST",
      body: formData
    }).then(function (response){return response.json()})
      .then(function (result){
        console.log(result);
        if(result.result === "userExist"){
          info.innerText = "Такой пользователь уже существует";
        }else{
          location.href = "/login";
        }
      })
  }
</script>